@media (max-width: 420px) {
    header {
        font-size: 50px;
    }
    .calculadora {
        gap: 1rem;
        padding: 1rem 2rem;
        height: 30rem;
        width: 20rem;
    }
    .h2 {
        height: 2.5rem;
        font-size: 35px;
    }
    .footer {
        margin-bottom: 2rem;
    }
    .footer p {
        font-size: 25px;
    }
}