@media (max-width: 375px) {
    header {
        height: 10%;
        font-size: 45px;
    }
    .h2 {
        font-size: 28px;
    }
    .calculadora {
        height: 2rem;
        width: 10rem;
    }
    .btn {
        padding: 1rem;
        width: 2rem;
    }
    .footer p {
        font-size: 22px;
    }
}
@media (max-width: 420px) {
    .calculadora {
        height: 30rem;
        width: 20rem;
    }
    .btn {
        padding: 1rem;
        width: 3rem;
    }
    .footer p {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    main {
        margin-top: 5%;
    }
}